@import "tailwindcss";

@font-face {
  font-family: "SFPro";
  src: url(/SFProText-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProSemibold";
  src: url(/SFProText-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --background-image-warning-stripes: repeating-linear-gradient(
    90deg,
    rgb(0, 0, 0, 0) 5px,
    rgb(199, 193, 193, 0.075) 5%,
    rgb(199, 193, 193, 0.009) 5%
  );

  --font-sfpro: "SFPro", sans-serif;
  --font-sfprosemi: "SFProSemibold", sans-serif;

  --color-sign-hardblue: #091b6b;
  --color-sign-blue: #b1b7de;

  --color-reg-hardblue: #354db5;
}
